<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= "ユーザー名: #{@user.name}" %></h2>
      <p><%= "フォロー: #{@user.follower.count}" %></p>
      <p><%= "フォロワー: #{@user.followed.count}" %></p>
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォローを外す', unfollow_path(@user.id), method: :POST %>
        <% else %>
          <%= link_to 'フォロー', follow_path(@user.id), method: :POST %>
        <% end %>
      <% else %>
        <%= link_to '編集', edit_user_registration_path %>
      <% end %>
      <p></p>

      <ul class="user-tabs">
        <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
        <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      </ul>

      <% @user.posts.each do |post| %>
        <div class="posts-index-item">
          <div class="post-left">
            <% if current_user.persisted? && current_user.avatar? %>
              <%= image_tag current_user.avatar.to_s %>
            <% else %>
              <%= image_tag '/homeparty_logo.jpg' %>
            <% end %>
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
      <% end %>

      <h3>フォロー一覧</h3>
        <% @user.following_user.where.not(id: current_user.id).each do |user| %>
          <p>
            <%= "id: #{user.id} email: #{user.email}" %>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
              <% else %>
                <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
              <% end %>
            <%= link_to "show", user_path(user) %>
          </p>
        <% end %>
      <h3>フォロワー一覧</h3>
        <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
          <p>
            <%= "id: #{user.id} email: #{user.email}" %>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
              <% else %>
                <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
              <% end %>
            <%= link_to "show", user_path(user) %>
          </p>
        <% end %>
    </div>
  </div>
</div>
