<!DOCTYPE html>
<html>
  <head>
    <title>宅まり</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
    <nav>
      <ul>
        <% unless user_signed_in? %>
          <div class="header-logo">
            <li><%= link_to "宅まり", "/" %></li>
          </div>
          <ul class="header-menus">
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        <% else %>
          <div class="header-logo">
            <li><%= link_to "宅まり", "/" %></li>
          </div>
          <ul class="header-menus">
            <% if Post.find_by(user_id: current_user.id) == nil %>
              <li><%= link_to "新規パーティ", "/posts/new" %></li>
            <% end %>
            <li><%= link_to current_user.name, user_path(current_user) %></li>
            <li><%= link_to "パーティ一覧", "/posts/index" %></li>
            <li><%= link_to "未パーティ一覧", "/posts/index2" %></li>
            <li><%= link_to("ユーザー一覧", "/users/index") %></li>
            <li><%= link_to("ユーザー検索", "/users/search") %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% end %>
      </ul>
    </nav>
  </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
